<header>
    <h1>Real-Time Occupancy Monitoring System for Linnaeus University Library</h1>
</header>

<nav class="navbar">
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/occupancy/live">Live</a></li>
        <li><a href="/occupancy/daily">Daily</a></li>
        <li><a href="/occupancy/floors">Floors</a></li>
    </ul>
</nav>