<h1> Occupancy anaylsis for one day (The three zones) </h1>

<h2 id="dataDate">Data for: <span id="displayDate"></span></h2>


<label for="datePicker">Select Date:</label>
<input type="date" id="datePicker" name="datePicker">
<button id="fetchDataButton">Show data</button>

<div style="width: 75%;">
    <canvas id="floorChart"></canvas>
</div>