<div class="project-description">
    <h1>Real-Time Occupancy Monitoring System for Linnaeus University Library</h1>
    <p>This website serves as a digital component of a broader initiative undertaken within the "2dt304 project with embedded systems" course. It presents a novel approach to managing and monitoring the occupancy of the Linnaeus University Library, leveraging embedded systems to collect real-time data. The system aims to enhance the library's operational efficiency, ensuring a seamless experience for both staff and students by providing instant insights into space utilization.</p>
</div>